@{
    ViewData["Title"] = "Playlists";
    ViewBag.Title = "Playlists";
}
<h1><strong>Your playlists, @ViewBag.user !!! </strong></h1>
<select id="sel">

</select>
<div id="div">

</div>

<script type="text/javascript">
    var uname = "@ViewBag.user";
    Start();
    async function Start() {
        await axios.get(`/api/user/allplaylists/${uname}`).then(response => Show(response.data));
        document.getElementById("sel").addEventListener("change", NextPlaylist);
    }

    function Show(data) {
        for (var i = 0; i < data.length; i++) {
            var opt = document.createElement("option");
            opt.textContent = data[i].title;
            opt.id = data[i].id;
            document.getElementById("sel").appendChild(opt);
        }
        document.getElementById("sel").selectedIndex = 0;
        NextPlaylist();

    }

    async function NextPlaylist() {
        document.getElementById("div").innerHTML = "";
        var id;
        var sel = document.getElementById("sel");
        for (var i = 0; i < sel.options.length; i++) {
            if (sel.options[i].selected) {
                id = sel.options[i].id;
                break;
            }
        }

        var data;
        await axios.get(`/api/playlist/getsongsinplaylist/${id}`).then(resp => data = resp.data);
        console.log(data);


        var table = document.createElement("table");
        var th = document.createElement("thead");
        var tb = document.createElement("tbody");
        var trh = document.createElement("tr");


        Object.keys(data[0]).forEach(function (k) {
            var tdh = document.createElement("td");
            tdh.innerHTML = k;
            trh.appendChild(tdh);
        });
        
        th.appendChild(trh);;

        
        for (var i = 0; i < data.length; i++) {
            var tr = document.createElement("tr");

            var rowid = document.createElement("td");
            rowid.innerHTML = `${data[i].id}`;
            var rowname = document.createElement("td");
            rowname.innerHTML = `${data[i].name}`;
            var rowlength = document.createElement("td");
            rowlength.innerHTML = `${data[i].length}`;

            tr.appendChild(rowid);
            tr.appendChild(rowname);
            tr.appendChild(rowlength);
            tb.appendChild(tr);
        }
        

        

        table.appendChild(th);
        table.appendChild(tb);

        document.getElementById("div").appendChild(table);
    }
</script>