@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Songs";
    Layout = "_Layout";
}
<h1>SONGS</h1>
<p id="par">    </p>

<script type="text/javascript">
    var par;
    window.onload = function () {
        par = document.getElementById("par");
    }
    function Show(data) {
        par.innerHTML = data[0] + "<br>";
        console.log(data);
    }
    
    axios.get('/api/song').then(response => Show(response.data));
</script>
