@{
    ViewData["Title"] = "AdminHome";
    ViewBag.Title = "AdminHome";
}
<h1><strong>WELCOME BACK, @ViewBag.user !!! </strong></h1>
<a href="/music/artists">ARTISTS</a>
<a href="/music/songs">SONGS</a>
<a href="#">USERS</a>
