@{
    ViewData["Title"] = "newSong";
}
<button id="back" onclick="goBack()">GO BACK</button>
<div>
    <form action="/music/newSong" method="POST">
        <input type="text"
               name="name"
               id="song_name"
               placeholder="Name..." />
        <input type="number"
               name="length"
               id="song_length"
               placeholder="Length..." />
        <select id="artist_select">
            <option id="null" value="none">NULL</option>
        </select>
        

        <div>
            @*<button class="saveBtn" onclick="Save()">Save</button>*@
            <input type="button" value="Save" id="Artist_save" onclick="Save()" />
        </div>
    </form>
</div>

<script type="text/javascript">
    function goBack() {
        window.location = "/music/songs";
    }
    var sel = document.getElementById("artist_select");
    function Show(data) {
        for (var i = 0; i < data.length; i++) {
            var opt = document.createElement("option");
            opt.innerHTML = data[i].name;
            opt.value = data[i].id;
            sel.appendChild(opt);
        }
    }

    async function Save() {
        var artistID;
        if (document.getElementById("artist_select").value == "none") {
            artistID = null;
        }
        else {
            artistID = document.getElementById("artist_select").value;
        }
        await axios.post("/api/song/newSong", {
            "id": null,
            "songname": `${document.getElementById("song_name").value}`,
            "songlength": `${document.getElementById("song_length").value}`,
            "artist_id": artistID
        });
        window.location = "/music/songs";

    }

    axios.get('/api/artist').then(response => Show(response.data));
</script>