@{
    ViewData["Title"] = "AdminSignIn";
    ViewBag.Title = "AdminSignIn";
}
<h1><strong>Admin sign in </strong></h1>
<form method="POST" enctype="multipart/form-data" asp-controller="Authentication" asp-action="AdminSignin">

    <input type="text" name="username" placeholder="Username.." value="grazi998"/>

    <input type="password" name="password" id="" placeholder="Password.." value="123456" />

    <input type="submit" name="login" value="Login" />
</form>