@{
    ViewData["Title"] = "UserSignIn";
    ViewBag.Title = "UserSignIn";
}
<h1><strong>User sign in </strong></h1>
<button id="back" onclick="goBack()">GO BACK</button>
<form method="POST" enctype="multipart/form-data" asp-controller="Authentication" asp-action="UserSignIn">
    <input type="text" name="username" placeholder="Username.." value="gkaluza"/>

    <input type="password" name="password" id="" placeholder="Password.." value="123456"/>

    <input type="submit" name="login" value="Login" />

    <div class="links">
        <a href="#">Lost your password?</a><br />

        <a href="/music/usersignup">Don't have an account?</a>
    </div>
</form>
<script type="text/javascript">
    function goBack() {
        window.location = "/";
    }
</script>