@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music_Player</h1>
</div>
<div>
    <a href="/music/adminsignin">ADMIN</a>
    <a href="/music/usersignin">USER</a>
</div>


<script type="text/javascript">

</script>

