@{
    ViewData["Title"] = "allSongs";
}
<h1>SONGS</h1>
<p id="par">    </p>
<button id="btn">Click</button>

<script type="text/javascript">
    var dat;
    window.onload = function () {
        document.getElementById("btn").addEventListener("click", Ayy)
    }

    function Ayy() {
        alert(typeof (dat));
    }

    function Show(data) {
        dat = data;
        for (var i = 0; i < data.length; i++) {
            document.getElementById("par").innerHTML += JSON.stringify(data[i]);
        }
    }

    axios.get('/api/song').then(response => Show(response.data));
</script>
